**.git_credentials
**.DS_store
**build/
**.egg-info/
**dist/
**zip
venv
**credentials
**__pycache__
.ipynb_checkpoints
**.csv#
**.zip
**.html
**.dill
**.pickle
**.pkl
**.csv
**.feather
**.pq
**.parquet
**.png
**.jpeg
**.jpg
**.idea
**.gzip
