[flake8]
max-line-length = 120
exclude =
    .meltano,
    .venv,
    venv,
    __pycache__,
    build,
    dist,
    site-packages,
    */site-packages/*,
    **/site-packages/*
    **/legacy/*
ignore = F405, F403, W503, E203, E266
