*.py linguist-detectable=true
*.sql linguist-detectable=true
*.sh linguist-detectable=true
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
Dockerfile linguist-detectable=true
* linguist-detectable=false
