# Credentials and environment
*.git_credentials
*.env
credentials

*state.json

# Python build and metadata
*.egg-info/
build/
dist/
__pycache__/
*.pkl
*.pickle
*.dill

# Notebooks and checkpoints
.ipynb_checkpoints/

# Common data formats
*.csv
*.csv.gz
*.feather
*.pq
*.parquet
*.gzip

# Images
*.png
*.jpeg
*.jpg

# HTML and zip archives
*.html
*.zip

# IDE and system files
*.DS_Store
.idea/

# Virtual environments
venv/
.env/

# CatBoost
catboost_info/

# Override ignore rule for example config
!**/config_example.ini

share/
CACHEDIR.TAG
bin/
etc/
lib/
pyvenv.cfg
logs/

*.python-version
