../../../.
apscheduler==3.9.1
beautifulsoup4==4.11.1
dask==2022.12.0
dill==0.3.5.1
feather-format==0.4.1
flatten-json==0.1.7
graphviz==0.20.1
html5lib==1.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==3.2.0
keyring==23.8.2
lxml==4.9.1
matplotlib==3.6.2
mysqlclient==2.1.1
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.4.0
netaddr==0.8.0
numerapi==2.12.7
numpy==1.23.2
pandas==1.5.1
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-market-calendars==4.1.1
plotly==5.11.0
pyarrow==8.0.0
pymongo==4.2.0
pymongo[srv]==4.2.0
pyOpenSSL==22.0.0
pytickersymbols==1.9.0
PyYAML==6.0
requests==2.28.1
scipy==1.9.0
seaborn==0.12.1
simplejson==3.17.6
skimpy==0.0.6
snowflake-connector-python==2.7.11
snowflake-sqlalchemy==1.4.4
statsmodels==0.13.2
SQLAlchemy==1.4.44
tenacity==8.1.0
tornado==6.2
tqdm==4.64.0
waitress==2.1.2
virtualenv==20.16.3
yagmail==0.15.283
yfinance==0.1.86
